@charset "UTF-8"; /* compatibilidade do charset */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap'); /* importação da fonte */

* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #171717;
}